body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header Styles */
.header {
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8; 
    font-weight: 900;
}

ul {
    display: flex;
    gap: 18px;
}

li {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB; 
}

a {
    text-decoration: none;
    color: #E5E7EB; 
}

/*Hero Section Styles*/
.first_screen {
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding: 60px 200px 120px;
}

.hero-text {
    width: 50%;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero_secondary {
    font-size: 18px;
    color: #E5E7EB; 
    margin: 5px 0;
}

.sign-up {
    background-color: #3882F6;
    border-radius: 8px;
    color: #E5E7EB; 
    border: none;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 32px;
    margin-top: 8px;
}

.hero-picture {
    display: flex;
    width: 50%;
    height: 250px;
    background-color: #3881f61e;
    margin-left: 48px;
    align-items: center;
    justify-content: center;
}

/*Information Section*/
.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 42px;
}

.blocks {
    display: flex;
    flex-direction: row;
    gap: 52px;
    margin-bottom: 80px;
}

.picture {
    border: 4px solid #3882F6;
    border-radius: 16px;
    width: 150px;
    height: 150px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.picture, .subtext {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtext {
    width: 150px;
}

.quote-block {
    background-color: #E5E7EB;
    text-align: left;
    padding: 42px 400px;
    color: #1F2937;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.customer-name {
    text-align: right;
    font-size: 24px;
    font-weight: 900;
}

.action-screen {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    margin: 100px 200px;
    border-radius: 8px;
    padding: 42px 100px;
}

h3 {
    font-size: 24px;
    font-weight: 900;
    color: #ffffff;
    margin: 0;
}

.ghost {
    font-size: 18px;
    font-weight: bold;
    border: 3px solid #F9FAF8;
    border-radius: 8px;
    background: none;
    margin: 10px 0;
    padding: 8px 32px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 36px;
    margin: 0;
}