body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.first_screen {
    /* height: 450px; */
    background: #1F2937;
    color: #F9FAF8;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8; 
    font-weight: 900;
}

ul {
    display: flex;
    gap: 18px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB; 
    font-family: 'Roboto', sans-serif;
}

.first_screen_body {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;  
    padding: 60px 200px 120px;
    margin: 0;

}

.hero_secondary, h1 {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero_secondary {
    font-size: 18px;
    color: #E5E7EB; 
    margin: 10px 0;
}

.sign_up {
    background-color: #3882F6;
    border-radius: 8px;
    color: #E5E7EB; 
    border: none;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 32px;
    margin-top: 8px;

}

.first_screen_picture {
    display: flex;
    width: 500px;
    height: 250px;
    background-color: #3881f61e;
    margin-left: 48px;
    align-items: center;
    justify-content: center;
}

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 42px;
}

.blocks {
    display: flex;
    flex-direction: row;
    gap: 52px;
    margin-bottom: 80px;
}

.picture {
    border: 4px solid #3882F6;
    border-radius: 16px;
    width: 150px;
    height: 150px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.picture, .subtext {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtext {
    width: 150px;
}

.quote-block {

    background-color: #E5E7EB;
    text-align: left;
    padding: 42px 400px;
    color: #1F2937;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.customer-name {
    text-align: right;
    font-size: 24px;
    font-weight: 900;
}